<%- include('../partials/default/header'); %>
<body>
  <!-- Navigation -->
  <!-- {{> default/top-navigation }} -->

  <!-- Page Content -->
  <div class="container"><%- body %></div>
  <!-- /.container -->
  <%- include('../partials/default/footer'); %>
</body>
